body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  scroll-behavior: smooth;
}
:root {
  --text-color: rgba(255, 185, 40, 1);
  --bg-color: rgba(255, 185, 40, 1);
  --font: "SVN-Gilroy";
}
h1,
h2,
h3,
h4 {
  font-family: "SVN-Gilroy";
}

p {
  font-size: 15px;
  margin: 0 !important;
  font-family: "SVN-Gilroy";
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
.header {
  font-family: var(--font);
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}
.header-content {
  max-width: 1000px;
  padding: 0 20px;
}
.header-content > p {
  font-family: var(--font);
  font-size: 21px;
  text-align: center;
  font-weight: 300;
  opacity: 0.8;
  margin-top: 10px;
}
.swiper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-pagination-bullet {
  background-color: var(--bg-color) !important;
}
/* Header Section */

/* Features Section */

/* Services Section */
