body,
html {
  font-family: "SVN-Gilroy";
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  scroll-behavior: smooth;
}
:root {
  --text-color: rgba(255, 185, 40, 1);
  --bg-color: rgba(255, 185, 40, 1);
  --font: "SVN-Gilroy";
}
h1,
h2,
h3,
h4 {
  font-family: "SVN-Gilroy";
}

p {
  font-size: 15px;
  margin: 0 !important;
  font-family: "SVN-Gilroy";
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
ul,
ol {
  list-style: none;
}
li {
  list-style: none !important;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}

/* Header Section */

/* Features Section */

/* Services Section */
