.project {
  margin-top: 100px;
}
.project-container {
}
.project-header {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.project-header > h1 {
  font-size: 40px;
  font-weight: 550;
}
.project-header-description {
  max-width: 900px;
  margin: 15px auto 0 auto;
}
.project-header-description > p {
  font-size: 18px;
  opacity: 0.9;
}
.project-list {
  margin-top: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row-project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  padding: 0 20px;
  justify-content: center;
}

.col-project-list {
  display: flex;
  flex-direction: column;
  width: calc(32%);
}
.image-project {
  width: 100%;
}
.image-project > img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.content-image > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.content-image > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.col-project-list {
  cursor: pointer;
}
.col-project-list:hover > .content-image > h2 {
  color: var(--text-color);
}
.image-project {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
.icon-link-project {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.col-project-list:hover .icon-link-project {
  color: var(--text-color);
}
.col-project-list:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media only screen and (max-width: 1200px) {
  .project-list {
    margin-top: 80px;
  }
  .container-project-list {
    width: 860px;
    margin: 0 auto;
  }
  .row-project-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-project-list {
    width: 400px;
  }
}
