.vihat {
  width: 218px;
  height: 108px;
  margin-bottom: 30px;
}
.testuru {
  width: 218px;
  height: 108px;
}
.hopistal {
  width: 218px;
  height: 108px;
}
.mobifone {
  width: 218px;
  height: 108px;
}
.viettel {
  width: 218px;
  height: 108px;
  margin-bottom: 30px;
}
.joca {
  width: 218px;
  height: 108px;
  margin-bottom: 30px;
}
.takamart {
  width: 218px;
  height: 108px;
}
.trobz {
  width: 218px;
  height: 108px;
  margin-bottom: 30px;
}
