.vihat {
  height: 60px;
}
.testuru {
  height: 50px;
}
.hopistal {
  height: 180px;
}
.mobifone {
  height: 220px;
}
.viettel {
  height: 40px;
}
.era {
  height: 160px;
}
.takamart {
  height: 100px;
}
.trobz {
  height: 50px;
}
